@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LazZiya.ExpressLocalization
@model PMS.Areas.PMS.AddBuildingModel
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc
@{
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}
@using System.Globalization
@{
    var culture = CultureInfo.CurrentCulture.Name;
    var dirCss = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 localize-content>Property Management System</h5>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/" localize-content>Property Management</a></li>
                    <li class="breadcrumb-item active">@_loc.GetLocalizedString("Add Building")</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header bg-gradient-gray border-transparent">
                        <h3 class="card-title text-capitalize">@_loc.GetLocalizedString("Add Building")</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- general form elements -->
                        <div style="margin: -21px;margin-bottom: -30px;">
                            <div class="box-table">
                                <form method="post" id="inputForm" asp-page="AddBuilding" enctype="multipart/form-data">
                                    <input type="hidden" class="form-control" id="inputCheck" name="inputCheck" value="@Model.Common.Id">

                                    <div class="box-body" style="margin-bottom:-2px">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Select Governorate</label>
                                                    <select class="form-control" onchange="loadAreas();" required name="governorateId" id="governorateId" asp-items="@Model.Governorate">
                                                        <option value="">--Select Governorate--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Select Area</label>
                                                    <select class="form-control" required name="areaId" id="areaId">
                                                        <option value="">--Select Area--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Building No</label>
                                                    <input type="text" required class="form-control" value="@Model.Common.buildingNo" id="buildingNo" name="buildingNo" placeholder="Enter Building No">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Building Address</label>
                                                    <input type="text" class="form-control" required name="address" value="@Model.Common.address" id="address" placeholder="Enter Address...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Building Name</label>
                                                    <input type="text" class="form-control" value="@Model.Common.buildingName" required name="buildingName" id="buildingName" placeholder="Enter Building Name...">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Owner Name</label>
                                                    <input type="text" class="form-control" value="@Model.Common.ownerName" required name="ownerName" id="ownerName" placeholder="Enter Owner Name...">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Mobile No</label>
                                                    <input type="number" value="@Model.Common.ownerMobile" class="form-control" required id="ownerMobile" name="ownerMobile" placeholder="Mobile Number">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Owner Address</label>
                                                    <input type="text" class="form-control" value="@Model.Common.ownerAddress" required name="ownerAddress" id="ownerAddress" placeholder="Enter Owner Address...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" id="submit" class="btn btn-success formSearch" localize-content>@(Model.Common.address != null ? "Update" : "Add")</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="box-table">
                    <div class="ajax-loader">
                        <img src="/img/loader.gif" class="img-responsive" />
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="margin:-1px">
                        <table class="table table-striped display" style="width:100%;" id="buildingList">
                            <thead>
                                <tr>

                                    <th localize-content>Serial No</th>
                                    <th localize-content>ACTION</th>
                                    <th localize-content>Governorate</th>
                                    <th localize-content>Area</th>
                                    <th localize-content>No</th>
                                    <th localize-content>Building Name</th>
                                    <th localize-content>Building Address</th>
                                    <th localize-content>Owner Name</th>
                                    <th localize-content>Mobile</th>
                                    <th localize-content>Owner Address</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
          if (@Model.Common.areaId) { $("#governorateId ").val(@Model.Common.govId); loadAreas(); }
        function loadAreas() {
            var selectedGovernorate = $('#governorateId :selected').val();
            var areaSelect = $('#areaId');
            areaSelect.empty();
            if (selectedGovernorate != null && selectedGovernorate != 0) {
                $.ajax({
                    type: "GET",
                    data: { governorateId: selectedGovernorate },
                    url: "?handler=AddressAreas",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    contentType: "json; charset=utf-8",
                    success: function (addressAreas) {
                        if (addressAreas != null && !jQuery.isEmptyObject(addressAreas)) {
                            areaSelect.append($('<option/>', {
                                value: '',
                                text: "--Select Area--"
                            }));
                            $.each(addressAreas, function (index, area) {
                                 if (area.value == @Model.Common.areaId) {
                                    areaSelect.append("<option selected value='" + area.value + "'>" + area.text + "</option>");
                                } else { areaSelect.append("<option value='" + area.value + "'>" + area.text + "</option>"); }

                            });
                        };
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
        }
        // ----- Validation -----
        $(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    $("#submit").attr("disabled", true);
                    $("#submit").html("Submitting... please wait.");
                    $("#inputForm").submit();

                }
            });

//         $.extend($.validator.messages, {
//    required: "my required message"
//});
            $('#inputForm').validate({

                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        $(document).ready(function () {

            if ("@($"{culture}")" == "ar")
                loadDataTableAr();
            else
                loadDataTableEn();
        });

        // _________  LOAD DATA TABLE BUILDING_____________

        function loadDataTableEn() {

            $('#buildingList').DataTable({
                destroy: true,
                dom: 'Bfrtip',
                "bSort": true, "responsive": true, "lengthChange": true, "autoWidth": false,
                "language": {
                    "paginate": {
                        "previous": "<< ",
                        "next": " >>"
                    }
                },
                fixedHeader: {
                    header: true
                },
                 order: [[0, 'desc']],
                "ajax": {
                    type: "GET",
                    beforeSend: function () {
                        $('.ajax-loader').css("visibility", "visible");
                    },
                    url: "?handler=LoadData",
                    dataType: "json",
                    data: {  },
                    complete: function () {
                        $('.ajax-loader').css("visibility", "hidden");
                    },
                    dataSrc: ''
                },
                "columns": [

                    { "data": "buildingId" },
                    {
                        "data": "buildingId",
                        "mRender": function (data, type, full) {
                            return '<a class="btn btn-info btn-sm" href=/PMS/AddBuilding?buildingId=' + data + '>' + 'Edit' + '</a>';
                        }
                    },
                    { "data": "governorate" },
                    { "data": "area" },
                    { "data": "buildingno" },
                    { "data": "buildingName" },
                    { "data": "address" },
                    { "data": "ownerName" },
                    { "data": "ownerMobile" },
                    { "data": "ownerAddress" },
                ]
            });
        }
         function loadDataTableAr() {

            $('#buildingList').DataTable({
                destroy: true,
                dom: 'Bfrtip',
                "bSort": true, "responsive": true, "lengthChange": true, "autoWidth": false,
                "language":
                        {
                            "sProcessing": "جارٍ التحميل...",
                            "sLengthMenu": "أظهر _MENU_ مدخلات",
                            "sZeroRecords": "لم يعثر على أية سجلات",
                            "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                            "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                            "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                            "sInfoPostFix": "",
                            "sSearch": "ابحث:",
                            "sUrl": "",
                            "oPaginate": {
                                "sFirst": "الأول",
                                "sPrevious": "السابق",
                                "sNext": "التالي",
                                "sLast": "الأخير"
                            }
                        },
                fixedHeader: {
                    header: true
                },
                 order: [[0, 'desc']],
                "ajax": {
                    type: "GET",
                    beforeSend: function () {
                        $('.ajax-loader').css("visibility", "visible");
                    },
                    url: "?handler=LoadData",
                    dataType: "json",
                    data: {  },
                    complete: function () {
                        $('.ajax-loader').css("visibility", "hidden");
                    },
                    dataSrc: ''
                },
                "columns": [

                    { "data": "buildingId" },
                    {
                        "data": "buildingId",
                        "mRender": function (data, type, full) {
                            return '<a class="btn btn-info btn-sm" href=/PMS/AddBuilding?buildingId=' + data + '>' + 'Edit' + '</a>';
                        }
                    },
                    { "data": "governorate" },
                    { "data": "area" },
                    { "data": "buildingno" },
                    { "data": "buildingName" },
                    { "data": "address" },
                    { "data": "ownerName" },
                    { "data": "ownerMobile" },
                    { "data": "ownerAddress" },
                ]
            });
        }
    </script>
}