@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model PMS.Areas.PMS.AddExpenseModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5>Property Management System</h5>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Expense Management</a></li>
                    <li class="breadcrumb-item active">Add Expense</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header bg-gradient-gray border-transparent">
                        <h3 class="card-title">ADD EXPENSE</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- general form elements -->
                        <div style="margin: -21px;margin-bottom: -30px;">
                            <div class="box-table">
                                <form method="post" id="inputForm" asp-page="AddExpense" enctype="multipart/form-data">
                                    <input type="hidden" class="form-control" id="inputCheck" name="inputCheck" value="@Model.Common.Id">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Select Building</label>
                                                    <select class="form-control" onchange="loadProperties();" required name="buildingId" id="buildingId" asp-items="@Model.Building">
                                                        <option value="">--Select Building--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Select Floor</label>
                                                    <select class="form-control" onchange="loadProperties();" required name="floor" id="floor">
                                                        <option value="">--Select Floor--</option>
                                                        @if (Model.Common.floor != null)
                                                        {
                                                            <option selected value="@Model.Common.floor">@Model.Common.floor</option>
                                                            } 
                                                        <option value="15">15</option>
                                                        <option value="14">14</option>
                                                        <option value="13">13</option>
                                                        <option value="12">12</option>
                                                        <option value="11">11</option>
                                                        <option value="10">10</option>
                                                        <option value="9">9</option>
                                                        <option value="8">8</option>
                                                        <option value="7">7</option>
                                                        <option value="6">6</option>
                                                        <option value="5">5</option>
                                                        <option value="4">4</option>
                                                        <option value="3">3</option>
                                                        <option value="2">2</option>
                                                        <option value="1">1</option>
                                                        <option value="Ground Floor">Ground Floor</option>
                                                        <option value="Basement">Basement</option>
                                                        <option value="M1">M1</option>
                                                        <option value="M2">M2</option>
                                                        <option value="M3">M3</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Property Type</label>
                                                    <select class="form-control" onchange="loadProperties();" required name="typeId" id="typeId" asp-items="@Model.ProType">
                                                        <option value="">--Select Type--</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Property No</label>
                                                    <select class="form-control" required name="propertyNo" id="propertyNo">
                                                        <option value="">--Select Property--</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Select Vendor</label>
                                                    <select class="form-control" required name="vendorId" id="vendorId" asp-items="@Model.Vendor">
                                                        <option value="">--Select Vendor--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Expense Amount</label>
                                                    @if (Model.Common.expenseAmount != 0)
                                                    {
                                                        <input type="number" value="@Model.Common.expenseAmount" class="form-control" required id="expenseAmount" name="expenseAmount" placeholder="Enter expense..">
                                                    }
                                                    else
                                                    {
                                                        <input type="number" class="form-control" required id="expenseAmount" name="expenseAmount" placeholder="Enter Expense..">
                                                    }
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label>Invoice No</label>
                                                    <input type="text" value="@Model.Common.invoiceNo" class="form-control" required id="invoiceNo" name="invoiceNo" placeholder="Enter invoiceNo...">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Description</label>
                                                    <textarea class="form-control" name="desc" id="desc" rows="3" placeholder="Enter ..."> @Model.Common.Description</textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label>Upload Invoice</label>
                                                    <div class="input-group">
                                                        <div class="custom-file">
                                                            <input type="file" id="imgInvoice" required multiple name="imgInvoice" accept="image/*" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" id="submit" class="btn btn-success formSearch">@(Model.Common.floor != null ? "Update" : "Add")</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-table">
                            <div class="ajax-loader">
                                <img src="/img/loader.gif" class="img-responsive" />
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="margin:-1px">
                                <table class="table table-striped display" style="width:100%" id="expenseList">
                                    <thead>
                                        <tr>

                                            <th>ID</th>
                                            <th>Action</th>
                                            <th>Building</th>
                                            <th>Vendor</th>
                                            <th>Floor</th>
                                            <th>Property</th>
                                            <th>Expense</th>
                                            <th>Vendor Type</th>
                                            <th>Invoice No</th>
                                            <th>Description</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
      
        if (@Model.Common.propertyTypeId) {
            $("#typeId ").val(@Model.Common.propertyTypeId);
            $("#buildingId ").val(@Model.Common.buildingId);
            $("#floor ").val(@Model.Common.floor); loadProperties();
        } 
           function loadProperties() {
               var selectedType = $('#typeId :selected').val();
               var selectedBuilding = $('#buildingId :selected').val();
               var selectedFloor = $('#floor :selected').val();
            var proSelect = $('#propertyNo');
            proSelect.empty();
            if (selectedType != null && selectedType != 0 && selectedBuilding != null && selectedBuilding != 0 && selectedFloor != null && selectedFloor != 0) {
                $.ajax({
                    type: "GET",
                    data: { typeId: selectedType,BuidId:selectedBuilding,floor:selectedFloor },
                    url: "?handler=BuildingNo",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    contentType: "json; charset=utf-8",
                    success: function (BuildingNos) {
                        if (BuildingNos != null && !jQuery.isEmptyObject(BuildingNos)) {
                            proSelect.append($('<option/>', {
                                value: '',
                                text: "--Select Building No--"
                            }));
                            $.each(BuildingNos, function (index, build) {
                                 if (build.value == @Model.Common.propertyNo) {
                                    proSelect.append("<option selected value='" + build.value + "'>" + build.text + "</option>");
                                } else { proSelect.append("<option value='" + build.value + "'>" + build.text + "</option>"); }
                            });
                        };
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            }
        }
        // ----- Validation -----
        $(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    $("#submit").attr("disabled", true);
                    $("#submit").html("Submitting... please wait.");
                    $("#inputForm").submit();

                }
            });
            $('#inputForm').validate({
                rules: {

                    buildingId: {
                        required: true
                    },
                },
                messages: {

                    buildingId: "Please select Building"
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        $(document).ready(function () {

            loadDataTable();
            $.fn.DataTable.ext.pager.numbers_length = 4;
        });
        // _________  LOAD DATA TABLE BUILDING_____________
        function loadDataTable() {

            $('#expenseList').DataTable({
                destroy: true,
                dom: 'Bfrtip',
                "bSort": true, "responsive": true, "lengthChange": true, "autoWidth": false,
                "language": {
                    "paginate": {
                        "previous": "<< ",
                        "next": " >>"
                    }
                },
                fixedHeader: {
                    header: true
                },
                 order: [[0, 'desc']],
                "ajax": {
                    type: "GET",
                    beforeSend: function () {
                        $('.ajax-loader').css("visibility", "visible");
                    },
                    url: "?handler=LoadData",
                    dataType: "json",
                    data: {  },
                    complete: function () {
                        $('.ajax-loader').css("visibility", "hidden");
                    },
                    dataSrc: ''
                },
                "columns": [
                
                    {
                        "data": "viewString",
                        "mRender": function (data, type, full) {
                            return '<a class="btn btn-success btn-sm" href=/PMS/ViewExpense?expenseId=' + data + '>' + data.split("&")[0] + '</a>';
                        }
                    },
                    {
                        "data": "expenseId",
                        "mRender": function (data, type, full) {
                            return '<a class="btn btn-info btn-sm" href=/PMS/AddExpense?expenseId=' + data + '>' + 'Edit' + '</a>';
                        }
                    },
                    { "data": "building" },
                    { "data": "vendor" },
                    { "data": "floor" },
                    { "data": "propertyNo" },
                    { "data": "expenseAmount" },
                    { "data": "type" },
                    { "data": "invoiceNo" },
                    {
                        "data": "desc",
                        "render": function (data, type, row) {
                            return "<textarea  disabled class='form-control' style='text-align:justify;padding: 0.4rem;'>" + data + "</textarea>";
                        }
                    }
                ]
            });
        }
    </script>
}