@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LazZiya.ExpressLocalization
@model PMS.Areas.PMS.AddPropertyModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 localize-content>Property Management System</h5>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/" localize-content>Property Management</a></li>
                    <li class="breadcrumb-item active" localize-content>Add Property</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header bg-gradient-gray border-transparent">
                        <h3 class="card-title" localize-content>Add Property</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- general form elements -->
                        <div style="margin: -21px;margin-bottom: -30px;">
                            <div class="box-table">
                                <form method="post" id="inputForm" asp-page="AddProperty" enctype="multipart/form-data">
                                    <input type="hidden" class="form-control" id="inputCheck" name="inputCheck" value="@Model.Common.Id">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Select Building</label>
                                                    <select class="form-control" required name="buildingId" id="buildingId" asp-items="@Model.Building">
                                                        <option value="">--Select Building--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Enter Floor</label>
                                                    <input type="text" value="@Model.Common.floor" required class="form-control" id="floor" name="floor" placeholder="Floor No ..">
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Property Type</label>
                                                    <select class="form-control" required name="typeId" id="typeId" asp-items="@Model.ProType">
                                                        <option value="">--Select Type--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Property No</label>
                                                    <input type="text" value="@Model.Common.propertyNo" required class="form-control" id="propertyNo" name="propertyNo" placeholder="Enter Property No ..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Aali No</label>
                                                    <input type="text" value="@Model.Common.aaliNo" required class="form-control" id="aaliNo" name="aaliNo" placeholder="Enter Aali No ..">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Property Status</label>
                                                    <select class="form-control" required name="proStatus" id="proStatus" asp-items="@Model.ProStatus">
                                                        <option value="">--Select Status--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label localize-content>Legal Cost</label>
                                                    <input type="text" value="@Model.Common.legalCost" class="form-control" id="legalCost" name="legalCost" placeholder="Enter Legal Cost ..">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" id="submit" class="btn btn-success formSearch" localize-content>@(Model.Common.floor != null ? "Update" : "Add")</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-table">
                            <div class="ajax-loader">
                                <img src="/img/loader.gif" class="img-responsive" />
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body" style="margin:-1px">
                                <table class="table table-striped display" style="width:100%" id="propertyList">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>ACTION</th>
                                            <th>Building</th>
                                            <th>Floor</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Property No</th>
                                            <th>Aali No</th>
                                            <th>Legal Cost</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript">
        // ----- Validation -----
        $(function () {
            $.validator.setDefaults({
                submitHandler: function () {
                    $("#submit").attr("disabled", true);
                    $("#submit").html("Submitting... please wait.");
                    $("#inputForm").submit();

                }
            });
            $('#inputForm').validate({
                rules: {

                    buildingId: {
                        required: true
                    },
                },
                messages: {

                    buildingId: "Please select Building"
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        $(document).ready(function () {
            loadDataTable();
        });

        // _________  LOAD DATA TABLE BUILDING_____________
        function loadDataTable() {

            $('#propertyList').DataTable({
                destroy: true,
                dom: 'Bfrtip',
                "bSort": true, "responsive": true, "lengthChange": true, "autoWidth": false,
                "language": {
                    "paginate": {
                        "previous": "<< ",
                        "next": " >>"
                    }
                },
                fixedHeader: {
                    header: true
                },
                order: [[0, 'desc']],
                "ajax": {
                    type: "GET",
                    beforeSend: function () {
                        $('.ajax-loader').css("visibility", "visible");
                    },
                    url: "?handler=LoadData",
                    dataType: "json",
                    data: {},
                    complete: function () {
                        $('.ajax-loader').css("visibility", "hidden");
                    },
                    dataSrc: ''
                },
                "columns": [

                    { "data": "propertyId" },
                    {
                        "data": "propertyId",
                        "mRender": function (data, type, full) {
                            return '<a class="btn btn-info btn-sm" href=/PMS/AddProperty?propertyId=' + data + '>' + 'Edit' + '</a>';
                        }
                    },
                    { "data": "building" },
                    { "data": "floor" },
                    { "data": "type" },
                    { "data": "status" },
                    { "data": "propertyNo" },
                    { "data": "aaliNo" },
                    { "data": "legalCost" }
                ]
            });
        }
    </script>
}