@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, LazZiya.ExpressLocalization
@model PMS.Areas.PMS.Pages.printContractModel
@using System.Globalization
@{
    var culture = CultureInfo.CurrentCulture.Name;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title localize-content>Property Management System</title>
    <link rel="icon" type="image/x-icon" href="~/img/top_logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html {
            direction: rtl;
        }

        .page {
            width: 210mm;
            min-height: 297mm;
            padding: 20mm;
            margin: 10mm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        div {
            position: absolute;
            text-align: right !important;
            background-repeat: no-repeat;
        }

        body {
            font-size: 18px;
            font-weight: 600;
        }
    </style>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/js/number-to-arabic-words.js"></script>

</head>

<body>

    <div style="margin-right: 200px !important;margin-top: 376px;" localize-content>@Model.Common.buildName</div>
    <div style="margin-right: 257px !important;margin-top: 403px;">@Model.Common.ownName</div>
    <div style="margin-right: 193px !important;margin-top: 453px;">@Model.Common.custCompName</div>
    <div style="margin-right: 444px !important;margin-top: 476px;">@Model.Common.customerName</div>
    <div style="margin-right: 617px !important;margin-top: 476px;">@Model.Common.nationality</div>
    <div style="margin-right: 242px !important;margin-top: 500px;">@Model.Common.Govern, @Model.Common.area, @Model.Common.bulAddress</div>
    <div style="margin-right: 671px !important;margin-top: 500px;">@Model.Common.propertyNo, @Model.Common.floor, @Model.Common.type </div>

    <div style="margin-right: 247px !important;margin-top: 550px;">@Model.Common.guranfullName</div>
    <div style="margin-right: 291px !important;margin-top: 574px;" id="guranCivilIdNo">@Model.Common.guranCivilIdNo</div>
    <div style="margin-right: 243px !important;margin-top: 599px;" id="guranAddress">@Model.Common.guranAddress</div>
    <div style="margin-right: 733px !important;margin-top: 599px;" id="guranAaliNo">@Model.Common.guranAaliNo</div>
    <div style="margin-right: 220px !important;margin-top: 624px;" id="guranMobileNo">@Model.Common.guranMobileNo</div>

    <div style="margin-right: 264px !important;margin-top: 774px;">@Model.Common.buildName</div>
    <div style="margin-right: 176px !important;margin-top: 800px;">@Model.Common.Govern, @Model.Common.area, @Model.Common.bulAddress</div>
    <div style="margin-right: 169px !important;margin-top: 824px;">@Model.Common.floor</div>
    <div style="margin-right: 337px !important;margin-top: 824px;" id="propertyNo">(@Model.Common.propertyNo)</div>
    <div style="margin-right: 603px !important;margin-top: 824px;" id="propertyAaliNo">@Model.Common.propertyAaliNo</div>
    <div style="margin-right: 309px !important;margin-top: 848px;">(@Model.Common.custBusiness)</div>

    <div style="margin-right: 355px !important;margin-top: 925px;" id="startDate">@Model.Common.startDate</div>
    <div style="margin-right: 588px !important;margin-top: 925px;" id="endDate">@Model.Common.endDate</div>

    <div style="margin-right: 351px !important;margin-top: 1003px;" id="wordsYD"></div>
    <div style="margin-right: 480px !important;margin-top: 1003px;" id="wordsY"></div>
    <div style="margin-right: 472px !important;margin-top: 1028px;" id="wordsMD"></div>
    <div style="margin-right: 583px !important;margin-top: 1028px;" id="wordsM"></div>

    <div style="margin-right: 583px !important;margin-top: 3634px;" id="contractDate">@Model.Common.contractDate</div>

    <img class="page" src="~/img/Contract/4_5852548936924924942-1.jpg" />
    <img class="page" src="~/img/Contract/4_5852548936924924942-2.jpg" />
    <img class="page" src="~/img/Contract/4_5852548936924924942-3.jpg" />

</body>
</html>
<script type="text/javascript">
             function numberToWords(number) {  
                var digit = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'];  
                var elevenSeries = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen'];  
                var countingByTens = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety'];  
                var shortScale = ['', 'thousand', 'million', 'billion', 'trillion'];  
  
                number = number.toString(); number = number.replace(/[\, ]/g, ''); if (number != parseFloat(number)) return 'not a number'; var x = number.indexOf('.'); if (x == -1) x = number.length; if (x > 15) return 'too big'; var n = number.split(''); var str = ''; var sk = 0; for (var i = 0; i < x; i++) { if ((x - i) % 3 == 2) { if (n[i] == '1') { str += elevenSeries[Number(n[i + 1])] + ' '; i++; sk = 1; } else if (n[i] != 0) { str += countingByTens[n[i] - 2] + ' '; sk = 1; } } else if (n[i] != 0) { str += digit[n[i]] + ' '; if ((x - i) % 3 == 0) str += 'hundred '; sk = 1; } if ((x - i) % 3 == 1) { if (sk) str += shortScale[(x - i - 1) / 3] + ' '; sk = 0; } } if (x != number.length) { var y = number.length; str += 'point '; for (var i = x + 1; i < y; i++) str += digit[n[i]] + ' '; } str = str.replace(/\number+/g, ' '); return str.trim() + ".";  
  
            }
             //English to Arabic digits.
            String.prototype.EntoAr= function() {
              return this.replace(/\d/g, d =>  '٠١٢٣٤٥٦٧٨٩'[d])
            }
            $(document).ready(function () {
      
               // document.getElementById("wordsY").innerHTML = numberToWords(@Model.Common.rent* 12);
                //document.getElementById("wordsM").innerHTML= numberToWords(@Model.Common.rent);

                 document.getElementById("wordsY").innerHTML = toArabicWord(@Model.Common.rent* 12);
                document.getElementById("wordsM").innerHTML= toArabicWord(@Model.Common.rent);
                var mul =@Model.Common.rent* 12;
                    document.getElementById("wordsYD").innerHTML = mul.toString().EntoAr();
                document.getElementById("wordsMD").innerHTML = '@Model.Common.rent'.EntoAr();

                 document.getElementById("startDate").innerHTML = '@Model.Common.startDate'.EntoAr();
                document.getElementById("endDate").innerHTML= '@Model.Common.endDate'.EntoAr();

                document.getElementById("contractDate").innerHTML = '@Model.Common.contractDate'.EntoAr();

                document.getElementById("guranCivilIdNo").innerHTML = '@Model.Common.guranCivilIdNo'.EntoAr();
                document.getElementById("guranAaliNo").innerHTML = '@Model.Common.guranAaliNo'.EntoAr();
                //document.getElementById("guranAddress").innerHTML = '@Model.Common.guranAddress'.EntoAr();
                document.getElementById("guranMobileNo").innerHTML = '@Model.Common.guranMobileNo'.EntoAr();

                document.getElementById("propertyNo").innerHTML = '@Model.Common.propertyNo'.EntoAr();
                 document.getElementById("propertyAaliNo").innerHTML= '@Model.Common.propertyAaliNo'.EntoAr();

              // alert('@Model.Common.startDate'.EntoAr());

                 window.print();
            });

</script>



