@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model PMS.Areas.PMS.viewRentModel
@{
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}
<style>


    .card-body {
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .box-table {
        margin: 2px 0px 7px 1px;
        padding: 0px;
    }
 

    .embossed {
        color: #5b829e;
        font-size: 16px;
        background-color: #081939;
        text-shadow: 1px 4px 4px #555;
        text-align: center;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
</style>
<div class="content-header">
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h5>Property Management System</h5>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Property Management</a></li>
                <li class="breadcrumb-item active">View Rent</li>
            </ol>
        </div>
    </div>
</div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-tabs">
                    <div class="card-header bg-gradient-gray border-transparent p-0 pt-1">
                        <ul class="nav nav-tabs" id="compTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="rentalDetails-tab" data-toggle="pill" href="#rentalDetails" role="tab" aria-controls="rentalDetails" aria-selected="true">RENTAL DETAILS</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="tabContent">
                            <div class="tab-pane fade show active" id="rentalDetails" role="tabpanel" aria-labelledby="rentalDetails-tab">
                                <div class="box-body">
                                    <div class="row">

                                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                            <div class="card bg-light d-flex flex-fill">
                                                <div class="card-header text-muted border-bottom-0">
                                                    <span class="embossed">PROPERTY DETAILS</span>
                                                </div>
                                                <div class="card-body">
                                                    <dl class="row" style="margin-left: 7.5px; margin-right: 7.5px">
                                                        <dt class="col-sm-5">Governorate: </dt>
                                                        <dd class="col-sm-7">@Model.Common.Govern</dd>
                                                        <dt class="col-sm-5">Area:</dt>
                                                        <dd class="col-sm-7">@Model.Common.area </dd>
                                                        <dt class="col-sm-5">Property No:</dt>
                                                        <dd class="col-sm-7">@Model.Common.propertyNo</dd>
                                                        <dd class="col-sm-12">
                                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Floor: @Model.Common.floor</li>
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-home"></i></span> Type: @Model.Common.type</li>
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-arrow-circle-right"></i></span> Rent: @Model.Common.rent</li>
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-calendar"></i></span> Contract Period: @Model.Common.dateRange </li>
                                                            </ul>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                            <div class="card bg-light d-flex flex-fill">
                                                <div class="card-header text-muted border-bottom-0">
                                                    <span class="embossed">CUSTOMER DETAILS</span>
                                                </div>

                                                <div class="card-body">
                                                    <dl class="row" style="margin-left: 7.5px; margin-right: 7.5px">
                                                        <dt class="col-sm-5">Full Name: </dt>
                                                        <dd class="col-sm-7">@Model.Common.fullName</dd>
                                                        <dt class="col-sm-5">Civil ID:</dt>
                                                        <dd class="col-sm-7"> @Model.Common.civilId</dd>
                                                        <dt class="col-sm-5">Passport No:</dt>
                                                        <dd class="col-sm-7"> @Model.Common.passportNo</dd>
                                                        <dd class="col-sm-12">
                                                            <ul class="ml-4 mb-0 fa-ul text-muted">
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Mobile: @Model.Common.mobile </li>
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> Email: @Model.Common.email </li>
                                                                <li class="small"><span class="fa-li"><i class="fas fa-lg fa-flag"></i></span> Nationality: @Model.Common.nationality </li>
                                                            </ul>
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
                                            <div class="card bg-light d-flex flex-fill">
                                                <div class="card-header text-muted border-bottom-0">
                                                    <span class="embossed">ATTACHMENTS</span>
                                                </div>
                                                <div class="card-body pt-0">
                                                    <div class="col-12">
                                                        <div class="row" style="margin-top:20px">
                                                            <div class="col-md-3">
                                                                <p><a href="/Uploaded_Documents/@Model.Common.rentAttach"><i class="fas fa-file-word fa-3x"></i></a></p>
                                                            </div>
                                                            @foreach (var img in Model.Common.custAttachments)
                                                            {

                                                                <div class="col-md-3">
                                                                    <a href="/Uploaded_Documents/@img" data-toggle="lightbox" data-gallery="gallery">
                                                                        <img src="/Uploaded_Documents/@img" class="img-fluid mb-2" />
                                                                    </a>
                                                                </div>

                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script type="text/javascript">
 $(document).ready(function () {

            $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
                $($.fn.dataTable.tables(true)).css('width', '100%');
                $($.fn.dataTable.tables(true)).DataTable().columns.adjust().draw();
            });

            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        })
    </script>
}
